<nav class="navbar navbar-expand-lg navbar-light bg-secondary row">
  <img style="height: 80px;" class="ml-5" src="https://www.aubay.pt/img/aubayCopy.png"> 
  <a class="navbar-brand mb-0 text-dark h1 offset-1">SIMULADOR SALARIAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/product" translate>Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLinkActive]="['active']" routerLink="/shelf" translate>Shelf</a>
      </li>
    </ul>
  </div> -->
  <div class="d-flex align-items-end ml-auto">
    <span class="navbar-text text-dark mx-3"></span> <!-- {{col.email}}  -->
    <button class="btn btn-outline-dark" style="float:right;" (click)="logout()">Logout</button>
  </div>
 
</nav>