<nav class="navbar navbar-expand-lg navbar-light row" style="background-color:#334D65;">
  <img style="height: 80px;" class="ml-5" src="assets/img/aubayCopy.png">
  <a class="navbar-brand mb-0 text-white h1 offset-1">SIMULADOR SALARIAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex align-items-end ml-auto">
    <span class="navbar-text text-white mx-3">{{email}}</span>
    <button class="btn btn-outline-light" style="float:right;" (click)="showEditAccount(template)">Editar
      Senha</button>
    <button class="ml-2 btn btn-outline-light" style="float:right;" (click)="logout()">Logout</button>
  </div>

</nav>
<ng-template #template>
  <div class="modal-header cardHead">
    <h4 class="modal-title pull-left">Editar Senha: {{email}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal()">
      <span aria-hidden="true" style="color: white">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center">
    <p *ngIf="state == 'confirm'">Senha editada com sucesso!</p>
    <p *ngIf="state == 'error'">Insira uma senha válida.</p>
    <form *ngIf="state == 'edit'" class="form-horizontal" [formGroup]="editUserForm">
      <div class="form-group mt-2 father">
        <div class="input-group son">
          <div class="input-group-prepend">
            <span [ngClass]="{'borderedRed' : editUserForm.controls['newPass'].invalid && submitClicked}"
              class="input-group-text form-control transparentBg" for="inputnewPass">Nova senha</span>
          </div>
          <input [ngClass]="{'is-invalid' : editUserForm.controls['newPass'].invalid && submitClicked}"
            id="inputnewPass" type="password" class="form-control" formControlName="newPass">
        </div>
        <div *ngIf="editUserForm.controls['newPass'].invalid && submitClicked" class="form-row">
          <small *ngIf="editUserForm.controls['newPass'].errors.required" class="text-danger ml-2" >Insira uma nova senha.</small>
        </div>
      </div>
      <div class="form-group mt-2 father">
        <div class="input-group son">
          <div class="input-group-prepend">
            <span [ngClass]="{'borderedRed' : editUserForm.controls['confirmPass'].invalid && submitClicked}"
              class="input-group-text form-control transparentBg" for="inputconfirmPass">Confirmar senha</span>
          </div>
          <input [ngClass]="{'is-invalid' : editUserForm.controls['confirmPass'].invalid && submitClicked}"
            type="password" style="width: 185px" class="form-control" formControlName="confirmPass">

        </div>
        <div *ngIf="editUserForm.controls['confirmPass'].invalid && submitClicked" class="form-row" >
          <small *ngIf="editUserForm.controls['confirmPass'].errors.required" class="text-danger ml-2">Confirme a nova senha.</small>
        </div>
      </div>
      <div class="modal-footer p-0 pt-3">
          <button type="button" class="btn btn-blue" (click)="resetForm()">Cancelar</button>
          <button type="button" class="btn btn-mycolor ml-1" (click)="editAccount()">Editar</button>
      </div>
    </form>
  </div>


</ng-template>