<div *ngIf="state == 'simList'">
    <div class="container-fluid p-2">
        <div class="row">
            <div class="input-group mb-3 mt-3 col-4" style="padding-left:0%">
                <div class="input-group-prepend">
                    <span class="input-group-text transparentBg" id="basic-addon1">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </span>
                </div>
                <input (keyup)="search($event)" type="text" class="form-control" placeholder="Filtrar por nome">
            </div>
            <!-- DATA -->
            <div class="col-4 input-group mb-3 mt-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text transparentBg" id="basic-addon1">
                        <fa-icon [icon]="faCalendarAlt"></fa-icon>
                    </span>
                </div>
                <input type="text" placeholder="Escolha uma data" class="form-control" bsDaterangepicker
                    [bsConfig]="{ isAnimated: true,  containerClass: 'theme-dark-blue', adaptivePosition: true }"
                    [(ngModel)]="bothDates" (change)="ngOnInit()">
                <div class="input-group-append  transparentBg">
                    <button class="btn btn-mycolor" (click)="filterByDate()">Filtrar</button>
                </div>
            </div>
            <!-- DATA -->
            <select [(ngModel)]="selectedValue" class="custom-select mb-3 mt-3 col-4">
                <option value="6">6 visualizações por página</option>
                <option value="12">12 visualizações por página</option>
                <option value="24">24 visualizações por página</option>
                <option value="36">36 visualizações por página</option>
            </select>
        </div>
    </div>
    <!-- DATA -->
    <!--   <div class="container-fluid p-2">
        <div class="col-4 input-group p-0">
            <div class="input-group-prepend">
                <span class="input-group-text transparentBg" id="basic-addon1">
                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </span>
            </div>
            <input type="text" placeholder="Escolha uma data" class="form-control" bsDaterangepicker
                [bsConfig]="{ isAnimated: true,  containerClass: 'theme-dark-blue', adaptivePosition: true }" [(ngModel)]="bothDates">
            <div class="input-group-append  transparentBg">
                <button class="btn btn-mycolor" (click)="filterByDate()">Filtar</button>
            </div>
        </div>
    </div> -->

    <!-- DATA -->
    <div class="container-fluid p-2">
        <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="keys"
            [columnMode]="'force'" [headerHeight]="40" [summaryRow]="true" [summaryPosition]="'bottom'"
            [footerHeight]="40" [limit]="selectedValue" [rowHeight]="'auto'" [reorderable]="reorderable">
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faCalculator"></fa-icon>
                    </p>Simulação
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.simulation}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faCalendarAlt"></fa-icon>
                    </p>Data
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.date}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faUser"></fa-icon>
                    </p>Nome
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faEuroSign"></fa-icon>
                    </p>Package Salarial sem duodécimos

                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.salaryPackageWithoutDuo}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faEuroSign"></fa-icon>
                    </p>Package Salarial com duodécimos

                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.salaryPackageWithDuo}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faEuroSign"></fa-icon>
                    </p>Custo total anual

                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.anualTotalCost}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faPercentage"></fa-icon>
                    </p> Margem
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.marginPercentage}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <p>
                            <fa-icon [icon]="faEuroSign"></fa-icon>
                        </p>Rate diário
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.dailyRate}}
                    </ng-template>
                </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faEuroSign"></fa-icon>
                    </p>Rendimento anual
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.anualRate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <p>
                            <fa-icon [icon]="faEye"></fa-icon>
                        </p>Detalhes
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button (click)="viewSim(row)" class="btn btn-link" style="color: black"><fa-icon [icon]="faEye"></fa-icon></button>
                    </ng-template>
                </ngx-datatable-column>

            <ngx-datatable-column>
                <ng-template let-column="column" ngx-datatable-header-template>
                    <p>
                        <fa-icon [icon]="faBalanceScaleRight"></fa-icon>
                    </p>
                    <button (click)="compareSims()" class="btn btn-mycolor"
                        [disabled]="this.selectedSimulations.length < 2">Comparar</button>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <input type="checkbox" (click)="clickRow(row, $event)">
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </div>
</div>
<div class="container-fluid mt-3" *ngIf="state == 'simDetail'">
    <div class="row" style="position: absolute; bottom: 101%;">
        <button (click)="goBack()" type="button" class="btn btn-blue">Voltar</button>
    </div>
    <div class="row" style="width: 100%">
        <app-compare-sim [simulations]="selectedSimulations" style="zoom: 93%; width: 100%"></app-compare-sim>
    </div>

</div>