.transparentBg{
    background-color: transparent;
  }

 // :host ::ng-deep 
  .ngx-datatable.bootstrap {
    box-shadow: none;
    font-size: medium;
    .datatable-header {
      height: unset !important;
      .datatable-header-cell {
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: 1px solid #d1d4d7;
        .datatable-header-cell-label {
          line-height: 24px;
        }
      }
    }
    .datatable-body {
      .datatable-body-row {
        text-align: center !important;
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #d1d4d7;
        &.datatable-row-even {
          background-color: rgba(0, 0, 0, 0.05);
        }
        &.active {
          background-color: #1483ff;
          color: #FFF;
        }
        .datatable-body-cell {
          text-align: center !important;
          vertical-align: top;
        }
      }
    }
    .datatable-footer {
      background: #334D65;
      color: #ededed;
      margin-top: -1px;
      .page-count {
        line-height: 50px;
        height: 50px;
        padding: 0 1.2rem;
        background-color: #334D65 !important;
      }
      .datatable-pager {
        background-color: #334D65;
        margin: 0 10px;
        vertical-align: top;
        ul {
          li {
            margin: 10px 0px;
            &:not(.disabled) {
              &.active,
              &:hover {
                a {
                  background-color: #334D65;
                  font-weight: bold;
                }
              }
            }
          }
        }
        a {
          height: 18px;
          min-width: 24px;
          line-height: 18px;
          padding: 0;
          border-radius: 3px;
          margin: 0 3px;
          text-align: center;
          vertical-align: top;
          text-decoration: none;
          vertical-align: bottom;
          color: #ededed;
        }
        .datatable-icon-left,
        .datatable-icon-skip,
        .datatable-icon-right,
        .datatable-icon-prev {
          font-size: 18px;
          line-height: 27px;
          padding: 0 3px;
        }
      }
    }
  }
 :host ::ng-deep  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    text-align: center !important;
    vertical-align: middle !important;

  }
  :host ::ng-deep  .datatable-body-cell {
    text-align: center !important;
  }
