<div *ngIf="state == 'first'" class="row custom-row">
  <div class="col-sm-12 custom-container">
    <fieldset>
      <form class="form-horizontal" [formGroup]="profileForm">
        <div class="card mt-5">
          <div class="card-header cardHead">
            <h6>SIMULAÇÃO | DADOS FISCAIS</h6>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span [ngClass]="{'borderedRed' : profileForm.controls['name'].invalid && submitClicked}"
                    class="input-group-text form-control transparentBg">Nome</span>
                </div>
                <input class="form-control"
                  [ngClass]="{'is-invalid' : profileForm.controls['name'].invalid && submitClicked}" type="text"
                  formControlName="name" placeholder="Colaborador">
              </div>
              <div *ngIf="profileForm.controls['name'].invalid && submitClicked" class="form-row">
                <small *ngIf="profileForm.controls['name'].errors.required" class="text-danger ml-1">Coloque o nome
                  do colaborador.</small>
              </div>
              <div class="form-row mt-4">
                <div class="form-group col-md-6">
                  <select class="custom-select"
                    [ngClass]="{'is-invalid' : profileForm.controls['dependents'].invalid && submitClicked}"
                    formControlName="dependents" id="selectDependents" required>
                    <option disabled="true" [selected]="true" hidden>Número de Dependentes</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 ou mais</option>
                  </select>
                  <div *ngIf="profileForm.controls['dependents'].invalid && submitClicked" class="text-danger">
                    <small *ngIf="profileForm.controls['dependents'].errors.required">Selecione o número de
                      dependentes.</small>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <select class="custom-select" formControlName="status"
                    [ngClass]="{'is-invalid' : profileForm.controls['status'].invalid && submitClicked}"
                    id="selectStatus" required>
                    <option disabled="true" [selected]="true" hidden>Número Titulares de Rendimento</option>
                    <option value="NÃO CASADO">Não Casado</option>
                    <option value="CASADO UNICO TITULAR">Casado Único Titular</option>
                    <option value="CASADO DOIS TITULARES">Casado Dois Titulares</option>
                  </select>
                  <div *ngIf="profileForm.controls['status'].invalid && submitClicked" class="text-danger">
                    <small *ngIf="profileForm.controls['status'].errors.required">Selecione uma opção.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col md-2 offset-md-10" style="text-align: right">
                <button type="button" class="btn btn-mycolor" (click)="submitForm()">Seguinte</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>

<div *ngIf="state == 'second'" class="row custom-row">
  <div class="col-sm-12 container">
    <fieldset>
      <div class="card mt-5 mb-3" id="simtopdf">
        <div class="card-header cardHead">
          <h6>SIMULAÇÃO | CÁLCULO | COLABORADOR: {{col.name}}</h6>
        </div>
        <div class="card-body">
          <form class="form-horizontal" [formGroup]="simForm">
            <div class="row">
              <div class="col-sm border-right father1">
                <div class="input-group son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Salário Base</span>
                  </div>
                  <input type="number" min="0" (change)="getValueForIRS()" class="form-control inputAlignRigth"
                    formControlName="baseSalary" value="{{simForm.value.baseSalary}}" required>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                  <div class="input-group-append" style="min-width: 100px;">
                    <span class="input-group-text transparentBg" style="width: 100%">IRS: {{this.tempTax}}%</span>
                  </div>
                </div>
                <small *ngIf="simForm.value.baseSalary < 654 && simForm.value.baseSalary !== 0"
                  style="padding-left: 0.5%">O primeiro escalão é a partir dos {{minSalary}}.</small>
                <small *ngIf="simForm.value.baseSalary >= 654 && simForm.value.baseSalary <= 25200"
                  style="padding-left: 0.5%">Este Salário Base encontra-se no escalão entre os {{this.salaryBelow}} e os
                  {{this.salaryAbove}}.</small>
                <small *ngIf="simForm.value.baseSalary > 25200 && this.col.status != 'CASADO UNICO TITULAR'"
                  style="padding-left: 0.5%">Este Salário Base encontra-se
                  no último escalão, acima dos {{this.maxSalary}}.</small>
                <small *ngIf="simForm.value.baseSalary >= 25200 && simForm.value.baseSalary <= 28224 && this.col.status == 'CASADO UNICO TITULAR'"
                  style="padding-left: 0.5%">Este Salário Base encontra-se no escalão entre os {{this.salaryBelow}} e os
                  {{this.salaryAbove}}.</small>
                <small *ngIf="simForm.value.baseSalary > 28224 && this.col.status == 'CASADO UNICO TITULAR'"
                  style="padding-left: 0.5%">Este Salário Base encontra-se
                  no último escalão, acima dos {{this.maxSalary}}.</small>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Subsídio de Alimentação</span>
                  </div>
                  <input type="number" class="form-control inputAlignRigth" min="0" id="foodSubsidy" value="160.23"
                    disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Seguro de Trabalho</span>
                  </div>
                  <input formControlName="workInsurance" value="{{simForm.value.workInsurance}}" type="number" min="0"
                    class="form-control inputAlignRigth" id="workInsurance" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Seguro de Saúde</span>
                  </div>
                  <input class="form-control inputAlignRigth" formControlName="healthInsurance"
                    (change)="calculateTotalAnualCost()" oninput="validity.valid||(value='');" type="number" min="0"
                    id="healthInsurance">
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Prémios</span>
                  </div>
                  <input class="form-control inputAlignRigth" formControlName="otherBonus" type="number" id="otherBonus"
                    oninput="validity.valid||(value='');" (change)="getValueForIRS()">
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>

                </div>
                <ng-container *ngIf="showContainer">
                  <div *ngFor="let extra of t.controls" class="input-group mt-3 son1" [formGroup]="extra">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">{{extra.value.name}}</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="value"
                      oninput="validity.valid||(value='');" (change)="calculateTotalAnualCost()" type="number">
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="showContainer">
                  <div class="input-group mt-3 son1" *ngFor="let extraWithout of g.controls" [formGroup]="extraWithout">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">{{extraWithout.value.name}}</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="value"
                      oninput="validity.valid||(value='');" (change)="calculateTotalAnualCost()" type="number">
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                </ng-container>
                <div class="input-group mt-3" style="width: 100%" *ngIf="extrasArray.length > 0">
                  <select class="custom-select transparentBg" (change)="selectExtraFromSelect($event)"
                    id="extraSelector">
                    <option value="" [selected]="true">Outros</option>
                    <option value="{{extra.name}}" *ngFor="let extra of extrasArray">{{extra.name}}</option>
                  </select>
                </div>
              </div>
              <!--ACABA A COLUNA DA ESQUERDA-->
              <div class="col-sm border-left father1">
                <div class="input-group son1">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">Salário Líquido S/ Duodécimos</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="netSalaryWithoutDuo"
                      value="{{simForm.value.netSalaryWithoutDuo}}" type="number" min="0" id="netSalaryWithoutDuo"
                      disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                  <div class="input-group mt-0">
                    <div class="input-group-prepend" style="padding-left: 20%;">
                      <span class="input-group-text transparentBg">C/ Duodécimos</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="netSalaryWithDuo"
                      value="{{simForm.value.netSalaryWithDuo}}" type="number" min="0" id="netSalaryWithDuo" disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                </div>
                <div class="input-group son1">
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">Package Salarial S/ Duodécimos</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="salaryPackageWithoutDuo"
                      value="{{simForm.value.salaryPackageWithoutDuo}}" type="number" min="0" id="salaryPackageWithoutDuo"
                      disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                  <div class="input-group mt-0">
                    <div class="input-group-prepend" style="padding-left: 20%;">
                      <span class="input-group-text transparentBg">C/ Duodécimos</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="salaryPackageWithDuo"
                      value="{{simForm.value.salaryPackageWithDuo}}" type="number" min="0" id="salaryPackageWithDuo" disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                </div>
                <div class="input-group mt-4 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg"
                      [ngClass]="{'borderedRed' : simForm.value.marginPercentage < 0}">Margem</span>
                  </div>
                  <input type="number" min="0" class="form-control inputAlignRigth" formControlName="marginPercentage"
                    id="marginPercentage" value="{{simForm.value.marginPercentage}}"
                    [ngClass]="{'borderedRed' : simForm.value.marginPercentage < 0}" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg"
                      [ngClass]="{'borderedRed' : simForm.value.marginPercentage < 0}">%</span>
                  </div>
                </div>
                <span><input class="form-control" [ngClass]="{'below0' : simForm.value.marginPercentage < this.margin_min}"
                    type="range" class="custom-range" min="-100" max="250" step="1" value="{{this.margin_min}}"
                    (input)="func2($event)"></span>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Alocação do Recurso</span>
                  </div>
                  <input type="number" min="0" class="form-control inputAlignRigth" formControlName="usagePercentage"
                    (change)="calculateTotalAnualCost()" id="usagePercentage" value="{{simForm.value.usagePercentage}}"
                    disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">%</span>
                  </div>
                </div>
                <span><input class="form-control" type="range" class="custom-range" min="0" max="100" step="12.5"
                    value="100" (input)="func($event)"></span>

                <div class="row mt-3">
                  <div class="col-sm">
                    <div class="card">
                      <ul class="list-group father list-group-flush">
                        <li class="list-group-item text-center">Custo Total</li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Anual</span>
                            </div>
                            <input type="number" formControlName="anualTotalCost" value={{simForm.value.anualTotalCost}}
                              id="anualTotalCost" class="form-control inputAlignRigth border-top-0 border-bottom-0"
                              disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Mensal</span>
                            </div>
                            <input type="number" formControlName="monthlyTotalCost"
                              value={{simForm.value.monthlyTotalCost}}
                              class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Diário</span>
                            </div>
                            <input type="number" formControlName="dailyTotalCost" value={{simForm.value.dailyTotalCost}}
                              class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Hora</span>
                            </div>
                            <input type="number" formControlName="hourlyTotalCost"
                              value={{simForm.value.hourlyTotalCost}}
                              class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="card">
                      <ul class="list-group list-group-flush father">
                        <li class="list-group-item text-center">Valor a Cobrar (Rate)</li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Anual</span>
                            </div>
                            <input formControlName="anualRate" type="number" value="{{simForm.value.anualRate}}"
                              class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Mensal</span>
                            </div>
                            <input formControlName="monthlyRate" type="number" value="{{simForm.value.monthlyRate}}"
                              class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Diário</span>
                            </div>
                            <input formControlName="dailyRate" type="number" value="{{simForm.value.dailyRate}}"
                              class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item son p-0">
                          <div class="input-group border-0">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text transparentBg border-0">Hora</span>
                            </div>
                            <input formControlName="hourlyRate" type="number" value="{{simForm.value.hourlyRate}}"
                              class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                            <div class="input-group-append border-0">
                              <span class="input-group-text transparentBg border-0">€</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--ACABA A COLUNA DA DIREITA-->
            <br>
            <br>
            <div class="row">
              <div class="col md-1">
                <button type="button" class="btn btn-blue" (click)="goBack()">Voltar</button>
              </div>
              <div class="col md-7 offset-md-4" style="text-align: right">
                <button type="button" class="btn  btn-blue" (click)="reset()">Reset</button>
                <button type="button" class="btn  btn-blue ml-1" (click)="exportToPDF()">Exportar PDF</button>
                <button type="button" class="btn btn-mycolor ml-1" (click)="saveThisSim()">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
  </div>
</div>