<div *ngIf="state == 'first'" class="row custom-row offset-md-1">
  <div class="col-sm-10 custom-container">
    <fieldset>
      <form class="form-horizontal" [formGroup]="profileForm">
        <div class="card mt-5">
          <h5 class="card-header">Simulação 1 - Dados Fiscais</h5>
          <div class="card-body">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span [ngClass]="{'borderedRed' : profileForm.controls['name'].invalid && submitClicked}"
                    class="input-group-text form-control transparentBg">Nome</span>
                </div>
                <input class="form-control"
                  [ngClass]="{'is-invalid' : profileForm.controls['name'].invalid && submitClicked}" type="text"
                  formControlName="name" placeholder="Colaborador">
              </div>
              <div *ngIf="profileForm.controls['name'].invalid && submitClicked" class="form-row">
                <small *ngIf="profileForm.controls['name'].errors.required" class="text-danger ml-1">Coloque o nome
                  do colaborador.</small>
              </div>
              <div class="form-row mt-4">
                <div class="form-group col-md-6">
                  <select class="custom-select"
                    [ngClass]="{'is-invalid' : profileForm.controls['dependents'].invalid && submitClicked}"
                    formControlName="dependents" id="selectDependents" required>
                    <option disabled="true" [selected]="true">Número de Dependentes</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 ou mais</option>
                  </select>
                  <div *ngIf="profileForm.controls['dependents'].invalid && submitClicked" class="text-danger">
                    <small *ngIf="profileForm.controls['dependents'].errors.required">Selecione o número de
                      dependentes.</small>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <select class="custom-select" formControlName="status"
                    [ngClass]="{'is-invalid' : profileForm.controls['status'].invalid && submitClicked}"
                    id="selectStatus" required>
                    <option disabled="true" [selected]="true">Número Titulares de Rendimento</option>
                    <option value="NÃO CASADO">Não Casado</option>
                    <option value="CASADO UNICO TITULAR">Casado Único Titular</option>
                    <option value="CASADO DOIS TITULARES">Casado Dois Titulares</option>
                  </select>
                  <div *ngIf="profileForm.controls['status'].invalid && submitClicked" class="text-danger">
                    <small *ngIf="profileForm.controls['status'].errors.required">Selecione uma opção.</small>
                  </div>
                </div>
              </div>
            </div>
            <button type="reset" class="btn btn-dark">Cancelar</button>
            <button type="button" class="btn btn-secondary ml-1" (click)="submitForm()">Seguinte</button>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>

<div *ngIf="state == 'second'" class="row custom-row">
  <div class="col-sm-10 container">
    <fieldset>
      <div class="card mt-5">
        <h5 class="card-header">Simulação 1 - Cálculo | Colaborador: {{col.name}}</h5>
        <div class="card-body">
          <form class="form-horizontal" [formGroup]="simForm">
            <div class="row">
              <div class="col-sm border-right">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Salário Base</span>
                  </div>
                  <input type="number" min="0" oninput="validity.valid||(value='');" (change)="getValueForIRS()"
                    class="form-control inputAlignRigth" formControlName="baseSalary" required>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                  <div class="input-group-append" style="min-width: 100px;">
                    <span class="input-group-text transparentBg" style="width: 100%">IRS: {{this.tempTax}}%</span>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Subsídio de Alimentação</span>
                  </div>
                  <input type="number" class="form-control inputAlignRigth" min="0" id="foodSubsidy" value="160.23"
                    disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Seguro de Trabalho</span>
                  </div>
                  <input formControlName="workInsurance" value="{{simForm.value.workInsurance}}" type="number" min="0"
                    class="form-control inputAlignRigth" id="workInsurance" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Seguro de Saúde</span>
                  </div>
                  <input class="form-control inputAlignRigth" formControlName="healthInsurance"
                    (change)="calculateTotalAnualCost()" oninput="validity.valid||(value='');" type="number" min="0"
                    id="healthInsurance">
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Prémios</span>
                  </div>
                  <input class="form-control inputAlignRigth" formControlName="otherBonus" type="number" id="otherBonus"
                    oninput="validity.valid||(value='');" (change)="getValueForIRS()">
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>

                </div>
                <ng-container *ngFor="let extra of t.controls">
                    <div class="input-group mt-3" [formGroup]="extra">
                      <div class="input-group-prepend">
                        <span class="input-group-text transparentBg">{{extra.value.name}}</span>
                      </div>
                      <input class="form-control inputAlignRigth" formControlName="value"
                        oninput="validity.valid||(value='');" (change)="calculateTotalAnualCost()" type="number">
                      <div class="input-group-append">
                        <span class="input-group-text transparentBg">€</span>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngFor="let extraWithout of g.controls">
                    <div class="input-group mt-3" [formGroup]="extraWithout">
                      <div class="input-group-prepend">
                        <span class="input-group-text transparentBg">{{extraWithout.value.name}}</span>
                      </div>
                      <input class="form-control inputAlignRigth" formControlName="value"
                        oninput="validity.valid||(value='');" (change)="calculateTotalAnualCost()" type="number">
                      <div class="input-group-append">
                        <span class="input-group-text transparentBg">€</span>
                      </div>
                    </div>
                  </ng-container>
                  <div class="input-group mt-3" style="width: 100%" *ngIf="extrasArray.length > 0">
                    <select class="custom-select transparentBg" (change)="teste($event)" id="extraSelector">
                      <option value="" [selected]="true">Outros</option>
                      <option value="{{extra.name}}" *ngFor="let extra of extrasArray">{{extra.name}}</option>
                    </select>
                  </div>
              </div>
              <!--ACABA A COLUNA DA ESQUERDA-->
              <div class="col-sm border-left">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Custo Mensal</span>
                  </div>
                  <input type="number" min="0" class="form-control inputAlignRigth" formControlName="monthlyTotalCost"
                    type="number" value={{simForm.value.monthlyTotalCost}} id="monthlyTotalCost" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group">
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">Salário Líquido S/ Duodécimos</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="netSalaryWithoutDuo"
                      value="{{simForm.value.netSalaryWithoutDuo}}" type="number" min="0" id="netSalaryWithoutDuo"
                      disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                  <div class="input-group mt-0" style="padding-left: 107px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">C/ Duodécimos</span>
                    </div>
                    <input class="form-control inputAlignRigth" formControlName="netSalaryWithDuo"
                      value="{{simForm.value.netSalaryWithDuo}}" type="number" min="0" id="netSalaryWithDuo" disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div> 
                </div>
                <div class="input-group mt-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Margem</span>
                  </div>
                  <input type="number" min="0" class="form-control inputAlignRigth" formControlName="marginPercentage"
                    (ngModelChange)="calculateMarkUp()" id="marginPercentage" value="{{simForm.value.marginPercentage}}"
                    disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">%</span>
                  </div>
                </div>
                <span><input class="form-control" type="range" class="custom-range" min="-100" max="250" step="1"
                    value="0" (input)="func2($event)"></span>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Utilização</span>
                  </div>
                  <input type="number" min="0" class="form-control inputAlignRigth" formControlName="usagePercentage"
                    (change)="calculateTotalAnualCost()" id="usagePercentage" value="{{simForm.value.usagePercentage}}"
                    disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">%</span>
                  </div>
                </div>
                <span><input class="form-control" type="range" class="custom-range" min="0" max="100" step="10"
                    value="100" (input)="func($event)"></span>

                <div class="row mt-3">
                  <div class="col-sm">
                    One of three columns
                  </div>
                  <div class="col-sm">
                    One of three columns
                  </div>
                </div>
              </div>
            </div>
            <!--ACABA A COLUNA DA DIREITA-->
            <div class="row">
              <div class="col">
                <div class="form-group mt-5">
                </div>
              </div>
              <div class="col">
                <div class="form-group mt-5">
                  <div class="form-group">
                    <label for="netSalaryWithoutDuo">Salário Líquido Sem duodécimos</label>
                    <span><input formControlName="netSalaryWithoutDuo" value="{{simForm.value.netSalaryWithoutDuo}}"
                        type="number" min="0" step="0.01" class="ml-2" style="width: 90px;" id="netSalaryWithoutDuo"
                        disabled></span>
                  </div>
                  <div class="form-group">
                    <label for="netSalaryWithDuo">Salário Líquido Com duodécimos</label>
                    <span><input formControlName="netSalaryWithDuo" value="{{simForm.value.netSalaryWithDuo}}"
                        type="number" min="0" step="0.01" class="ml-2" style="width: 90px;" id="netSalaryWithDuo"
                        disabled></span>
                  </div>
                  <div class="form-group">
                    <label for="grossSalary">Salário Médio Bruto</label>
                    <span><input formControlName="grossSalary" value="{{simForm.value.grossSalary}}" type="number"
                        min="0" step="0.01" class="ml-2" style="width: 90px;" id="grossSalary" disabled></span>
                  </div>
                  <br>
                  <div class="cotainer">
                    <div class="row">
                      <div class="form-group">
                        <label for="usagePercentage">Percentagem de Utilização(%)</label>
                        <span><input formControlName="usagePercentage" (change)="calculateTotalAnualCost()"
                            type="number" min="0" max="100" oninput="validity.valid||(value='100');"
                            value={{usagePercentage}} class="ml-2" style="width: 90px;" id="usagePercentage"></span>
                      </div>
                      <div class="form-group">
                        <label for="anualTotalCost">Custo Total Anual</label>
                        <span><input formControlName="anualTotalCost" type="number"
                            value={{simForm.value.anualTotalCost}} min="0" step="0.01" class="ml-2" style="width: 90px;"
                            id="anualTotalCost" disabled></span>
                      </div>
                      <div class="form-group">
                        <label for="monthlyTotalCost">Custo Total Mês</label>
                        <span><input formControlName="monthlyTotalCost" type="number"
                            value={{simForm.value.monthlyTotalCost}} min="0" step="0.01" class="ml-2"
                            style="width: 90px;" id="monthlyTotalCost" disabled></span>
                      </div>
                      <div class="form-group">
                        <label for="dailyTotalCost">Custo Total Dia</label>
                        <span><input formControlName="dailyTotalCost" type="number"
                            value={{simForm.value.dailyTotalCost}} min="0" step="0.01" class="ml-2" style="width: 90px;"
                            id="dailyTotalCost" disabled></span>
                      </div>
                      <div class="form-group">
                        <label for="hourlyTotalCost">Custo Total Hora</label>
                        <span><input formControlName="hourlyTotalCost" type="number"
                            value={{simForm.value.hourlyTotalCost}} min="0" step="0.01" class="ml-2"
                            style="width: 90px;" id="hourlyTotalCost" disabled></span>
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="form-group">
                        <label for="anualRate">Valor Cobrado(Rate) Anual</label>
                        <span><input formControlName="anualRate" type="number" value="{{simForm.value.anualRate}}"
                            min="0" step="0.01" class="ml-2" style="width: 90px;" id="anualRate" disabled></span>
                      </div>
                      <div class="form-group">
                        <label for="monthlyRate">Valor Cobrado(Rate) Mês</label>
                        <span><input formControlName="monthlyRate" type="number" value="{{simForm.value.monthlyRate}}"
                            min="0" step="0.01" class="ml-2" style="width: 90px;" id="monthlyRate" disabled></span>
                      </div>
                      <div class="form-group">
                        <label for="dailyRate">Valor Cobrado(Rate) Dia</label>
                        <span><input formControlName="dailyRate" type="number" value="{{simForm.value.dailyRate}}"
                            min="0" step="0.01" class="ml-2" style="width: 90px;" id="dailyRate" disabled></span>
                      </div>
                      <div class="form-group">
                        <label for="hourlyRate">Valor Cobrado(Rate) Hora</label>
                        <span><input formControlName="hourlyRate" type="number" value="{{simForm.value.hourlyRate}}"
                            min="0" step="0.01" class="ml-2" style="width: 90px;" id="hourlyRate" disabled></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="form-group">
                  <label for="marginPercentage">Margem(%)</label>
                  <span><input [(ngModel)]="marginPercentage" type="number" (ngModelChange)="calculateMarkUp()" min="-100"
                    step="0.01" class="ml-2" style="width: 90px;" id="marginPercentage"></span>
                </div>
                <div class="form-group">
                  <label for="marginValue">Mark Up</label>
                  <span><input [ngModel]="markUp" type="number" min="0" step="0.01" class="ml-2" style="width: 90px;"
                    id="marginValue" disabled></span>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-dark" (click)="goBack()">Voltar</button>
                  <button type="button" class="btn btn-secondary ml-1" (click)="saveThisSim()">Guardar</button>
                  <button type="button" class="btn btn-secondary ml-1" (click)="state = 'third'">Visualizar resumo</button>
                  <button type="button" class="btn btn-secondary ml-1" (click)="reset()">Reset</button>
                  <button type="button" class="btn btn-secondary ml-1" (click)="exportToPDF()">Exportar para PDF</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div *ngIf="state == 'third'" class="row custom-row offset-md-1">
  <div class="col-sm-10 custom-container jumbotron">

    <fieldset>
      <form class="form-horizontal">
        <legend>Simulação 1 - Resumo | Colaborador: {{col.name}}</legend>
        <div class="form-group mt-5">
          <label for="inputName">Nome</label>
          <input type="text" id="inputName" class="ml-2" required>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-dark" (click)="state = 'second'">Voltar</button>
          <button type="button" class="btn btn-secondary ml-1" (click)="newSim()">Guardar</button>
          <button type="button" class="btn btn-secondary ml-1" (click)="state = 'second'">Nova simulação</button>
          <button type="button" class="btn btn-secondary ml-1" (click)="state = 'fourth'">Visualizar simulações</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>
<div *ngIf="state == 'fourth'" class="row custom-row offset-md-1">
  <div class="col-sm-10 custom-container jumbotron">
    <form class="form-horizontal">
      <fieldset>
        <legend>Simulações | Colaborador: {{col.name}}</legend>
        <div class="container vh-100 mt-5">
          <div class="row h-50 text-center">
            <div class="col-sm-6">
              Simulação 1
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-dark" (click)="state = 'second'">Voltar</button>
              <button type="button" class="btn btn-secondary ml-1" (click)="newSim()">Guardar</button>
              <button type="button" class="btn btn-secondary ml-1" (click)="state = 'second'">Nova simulação</button>
              <button type="button" class="btn btn-secondary ml-1" (click)="state = 'fourth'">Visualizar
                simulações</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div *ngIf="state == 'fourth'" class="row custom-row offset-md-1">
  <div class="col-sm-10 custom-container jumbotron">
    <form class="form-horizontal">
      <fieldset>
        <legend>Simulações | Colaborador: {{col.name}}</legend>
        <div class="container vh-100 mt-5">
          <div class="row h-50 text-center">
            <div class="col-sm-6">
              Simulação 1
            </div>
            <div class="col-sm-6">
              Simulação 2
            </div>
          </div>
          <div class="row h-50 text-center">
            <div class="col-sm-6">
              Simulação 3
            </div>
            <div class="col-sm-6">
              Simulação 4
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="reset" class="btn btn-dark" (click)="state = 'first'">Cancelar</button>
          <button type="submit" class="btn btn-secondary ml-1" (click)="state = 'second'">Guardar todas</button>
          <button type="button" class="btn btn-secondary ml-1" (click)="state = 'first'">Nova simulação</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>