<div class="container-fluid">
    <app-header></app-header>
    <section class="row p-0">
        <div class="col-2 p-0">
            <div class="d-flex" id="wrapper">
                <div class="bg-white border-right w-100" id="sidebar-wrapper">
                    <div class="list-group list-group-flush vh-100" style="margin-top: 1px;">
                            <a [routerLink]="['/layout/admin/gestaodecontas']" routerLinkActive="router-link-active"
                            class="list-group-item list-group-item-action">
                            <fa-icon [icon]="faUsers"></fa-icon> Gestão de Contas
                        </a>
                        <a [routerLink]="['/layout/admin/gestaosimulador']" routerLinkActive="router-link-active"
                            (click)="importDataBaseData()" class="list-group-item list-group-item-action">
                            <fa-icon [icon]="faTasks"></fa-icon> Gestão do Simulador
                        </a>
                        <a [routerLink]="['/layout/admin/simulador']" routerLinkActive="router-link-active"
                            class="list-group-item list-group-item-action">
                            <fa-icon [icon]="faCalculator"></fa-icon> Simulador
                        </a>
                        <a [routerLink]="['/layout/admin/listarsimulacoes']" routerLinkActive="router-link-active"
                            class="list-group-item list-group-item-action">
                            <fa-icon [icon]="faClipboardList"></fa-icon> Listar Simulações
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-auto ml-auto" [ngClass]="{'col-10': router?.url.substring(14)==='listarsimulacoes', 'col-8': router?.url.substring(14)!=='listarsimulacoes'}">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>