input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.borderedRed{
  border-color: red;
}

.transparentBg{
  background-color: transparent;
}

.inputAlignRigth{
  text-align: right;
}


/* .buttonColorsAndCursor{
  cursor: pointer;
  color: white;
}
 */

.fatherTaxation {
  .son {
    width: 100%;
    .input-group-prepend {
      width: 57%;
      span {
        width: 100%
      }
    }
    .grandSon {
      width:30%
    }
  }
}

.fatherMargin {
  .son {
    width: 100%;
    .input-group-prepend {
      width: 31%;
      span {
        width: 100%
      }
    }
    .grandSon {
      width:60%
    }
  }
}

.fatherFoodSubsidy {
  .son {
    width: 100%;
    .input-group-prepend {
      width: 69%;
      span {
        width: 100%
      }
    }
    .grandSon {
      width: 21%
    }
  }
}

.fatherExtras {
  .son {
    width: 100%;
    .input-group-prepend {
      width: 69%;
      span {
        width: 100%
      }
    }
    .grandSon {
      width: 23%
    }
  }
}

.fatherWorkInsurance {
  .son {
    width: 100%;
    .input-group-prepend {
      width: 50%;
      span {
        width: 100%
      }
    }
    .grandSon {
      width: 41%
    }
  }
}
