<div class="container-fluid p-0">
  <div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <h1 class="mt-4">Gestão do simulador</h1>
      </div>
    </div>
  </div>
</div>
<!--<app-tables [header]='["Nome","Ativo/Não ativo","Editar"]' [data]='data' (clickedRow)='clickRow($event)'></app-tables>-->
<!-- <div>
  <ngx-datatable class="material expandable" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"[rows]="rows" [columns]="columns"> </ngx-datatable>
    <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div><app-field-tax *ngIf="showForm" (onClose)="showForm = false" [name]="newFieldName"></app-field-tax></div>
          </div>
        </ng-template>
    </ngx-datatable-row-detail>
</div> -->

<div class="row custom-row">
  <div class= "col-sm-8 custom-container jumbotron">
    <form class="form-horizontal">
        <fieldset>
          <legend>Subsídio alimentação</legend>
            <div class="form-group mt-5">
              <label for="inputDays">Número médio de dias do mês</label>
              <input (ngModelChange)="onChangeSubAlim($event)" type="number" id="inputDays" class="ml-2" placeholder="" [(ngModel)]="subAlim.days" name="days" required>
            </div>
            <div class="form-group">
              <label for="inputValue">Valor limite subsídio de alimentação</label>
              <input (ngModelChange)="onChangeSubAlim($event)" type="number" step="0.01" id="inputValue" [(ngModel)]="subAlim.valuePerDay"  name="valuePerDay" class="ml-2" placeholder="" required>
            </div>
            <div class="form-group">
                <p>Valor médio mensal do subsídio de alimentação</p>
                <input id="valueTotal" [(ngModel)]="simFieldsData.value" step="0.01" name="value" disabled>
              </div>
            <div class="form-group">
              <button type="reset" class="btn btn-dark">Cancelar</button>
              <button type="button" class="btn btn-secondary ml-1" (click)="saveSubAlim()">Guardar</button>
            </div> 
        </fieldset>
    </form>
  </div>
</div>
<app-field-tax *ngIf="showForm" (onClose)="showForm = false" [name]="'Telemóvel'"></app-field-tax>
<app-field-tax *ngIf="showForm" (onClose)="showForm = false" [name]="'Renting Viatura'"></app-field-tax>

<app-field-tax *ngIf="showForm" (onClose)="showForm = false" [name]="newFieldName"></app-field-tax>
