<!-- INICIO DA PÁGINA -->
<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      Gestão do Simulador
    </div>
    <!-- FIM DO TITULO -->
    <div class="card-body">
      <!-- INICIO DAS TAXAS -->
      <div class="card">
        <div class="card-header">
          Taxação
        </div>
        <div class="card-body fatherTaxation">
          <!-- INICIO INPUT FOR WORKER SOCIAL SECURITY -->
              <div class="input-group son">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Segurança Social do Trabalhador</span
                  >
                </div>
                <input
                  [(ngModel)]="workerSocialSecurity"
                  class="inputAlignRigth grandSon"
                  type="number"
                />
                <div class="input-group-append">
                  <span class="input-group-text transparentBg">%</span>
                </div>
              </div>
          <!-- FIM INPUT FOR WORKER SOCIAL SECURITY -->

          <!-- INICIO INPUT FOR COMPANY SOCIAL SECURITY -->
          <div class="input-group son mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text transparentBg"
                >Segurança Social da Entidade</span
              >
            </div>
            <input
              [(ngModel)]="companySocialSecurity"
              class="inputAlignRigth grandSon"
              type="number"
            />
            <div class="input-group-append">
              <span class="input-group-text transparentBg">%</span>
            </div>
          </div>
          <!-- FIM INPUT FOR COMPANY SOCIAL SECURITY -->

          <!-- INICIO INPUT FOR TRIBUTACAO AUTONOMA -->
          <div class="input-group son mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text transparentBg"
                >Tributação autónoma</span
              >
            </div>
            <input
              [(ngModel)]="autonomousTributation"
              class="inputAlignRigth grandSon"
              type="number"
            />
            <div class="input-group-append">
              <span class="input-group-text transparentBg">%</span>
            </div>
          </div>
          <a
            style="cursor: pointer; color: white"
            class="btn btn-primary mt-3"
            (click)="newTributationValues()"
            >Guardar</a
          >
        </div>
      </div>
      <br />
      <!-- FIM DAS TAXAS -->

      <!-- INICIO DA MARGEM -->

      <div class="row">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              Margem
            </div>
            <div class="card-body fatherMargin">
              <!-- INICIO MARGEM MÍNIMA -->
              <div class="input-group son">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Margem mínima</span
                  >
                </div>
                <input
                  [(ngModel)]="margin_min"
                  class="inputAlignRigth grandSon"
                  type="number"
                />
                <div class="input-group-append">
                  <span class="input-group-text transparentBg">%</span>
                </div>
              </div>
              <!-- FIM MARGEM MÍNIMA -->

              <!-- INICIO MARGEM MÍNIMA -->
              <div class="input-group son mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Margem máxima</span
                  >
                </div>
                <input
                  [(ngModel)]="margin_max"
                  class="inputAlignRigth grandSon"
                  type="number"
                />
                <div class="input-group-append">
                  <span class="input-group-text transparentBg">%</span>
                </div>
              </div>
              <!-- FIM MARGEM MÍNIMA -->
              <a
                style="cursor: pointer;color: white;position: absolute;top: 74.4%;"
                class="btn btn-primary mt-3"
                (click)="newMarginValues()"
                >Guardar</a
              >
            </div>
          </div>
        </div>
        <!-- FIM DA MARGEM -->

        <!-- INICIO DO SUBSIDIO DA ALIMENTACAO -->

        <div class="col">
          <div class="card">
            <div class="card-header">
              Subsídio de Alimentação
            </div>
            <div class="card-body fatherFoodSubsidy">
              <!-- INICIO AVERAGE DAYS OF THE MONTH -->
              <div class="input-group son">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Número médio de dias úteis do mês</span
                  >
                </div>
                <input
                  [(ngModel)]="averageDaysOfTheMonth"
                  (change)="resultFoodSubsidy($event)"
                  class="inputAlignRigth grandSon"
                  type="number"
                />
                <div class="input-group-append">
                  <span class="input-group-text transparentBg" style="text-decoration: overline">x</span>
                </div>
              </div>
              <!-- FIM AVERAGE DAYS OF THE MONTH -->

              <!-- INICIO LIMIT VALUE FOR FOOD SUBSIDY -->
              <div class="input-group son mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Valor límite de Subsídio de Alimentação</span
                  >
                </div>
                <input
                  [(ngModel)]="limitValueForFoodSubsidy"
                  (change)="resultFoodSubsidy($event)"
                  class="inputAlignRigth grandSon"
                  type="number"
                />
                <div class="input-group-append">
                  <span class="input-group-text transparentBg">€</span>
                </div>
              </div>
              <!-- FIM LIMIT VALUE FOR FOOD SUBSIDY -->

              <!-- INICIO FOOD SUBSIDY MONTH -->
              <div class="input-group son mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Subsídio de Alimentação</span
                  >
                </div>
                <input
                  [(ngModel)]="foodSubsidyMonth"
                  class="inputAlignRigth grandSon"
                  type="number"
                  disabled
                />
                <div class="input-group-append">
                  <span class="input-group-text transparentBg">€</span>
                </div>
              </div>
              <!-- FIM FOOD SUBSIDY MONTH -->

              <a
                style="cursor: pointer; color: white"
                class="btn btn-primary mt-3"
                (click)="newFoodSubsidyValues()"
                >Guardar</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- INICIO DA LINHA DE BAIXO -->

      <!-- INICIO DOS EXTRAS -->
      <div class="row mt-3">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              Extras
            </div>
            <div class="card-body">
              <!-- INICIO DO CODIGO PARA OS EXTRAS -->
              <!-- NOME DO EXTRA -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Nome</span
                  >
                </div>
                <input
                  class="inputAlignRigth"
                  type="text"
                  [(ngModel)]="extraName"
                  style="width: 34%"
                />
                <!-- NOME DO EXTRA -->
                <!-- INICIO CHECKBOX -->
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg"
                      >Tributação autónoma?</span
                    >
                  </div>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        aria-label="true"
                        value="true"
                        [(ngModel)]="extraWithAutonomousTributation"
                      />
                    </div>
                  </div>


                <!-- FIM DO CHECKBOX -->

                <a
                  style="cursor: pointer;color: white;position: absolute;top: 243%;"
                  class="btn btn-primary mt-3"
                  (click)="newExtra(template)"
                  >Guardar</a
                >
                <a
                  style="cursor: pointer;color: white;position: absolute;left: 20%;top: 247%;"
                  class="btn btn-primary ml-3 mt-3"
                  (click)="viewExtra(template)"
                  >Ver extras</a
                >

                <!-- MODAL -->

                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Extras</h4>
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="onCloseModal()"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container mb-3">
                      <ngx-datatable
                        class="bootstrap"
                        [rows]="rows"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="keysTA"
                        [columnMode]="'force'"
                        [headerHeight]="40"
                        [summaryRow]="true"
                        [summaryPosition]="'bottom'"
                        [footerHeight]="40"
                        [limit]="5"
                        [rowHeight]="'auto'"
                        [reorderable]="reorderable"
                      >
                        <ngx-datatable-column>
                          <ng-template
                            let-column="column"
                            ngx-datatable-header-template
                          >
                            Extras
                          </ng-template>
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            {{ row.name }}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                          <ng-template
                            let-column="column"
                            ngx-datatable-header-template
                          >
                            Tributação autónoma
                          </ng-template>
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            {{ row.tA }}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                          <ng-template
                            let-column="column"
                            ngx-datatable-header-template
                          >
                          </ng-template>
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <button
                              class="btn btn-link btn-sm"
                              style="color: red"
                              (click)="deleteExtra(row.name)"
                            >
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                            </button>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <!-- FIM DO CODIGO PARA OS EXTRAS -->

        <!-- INICIO DO WORK INSURANCE -->
        <div class="col">
          <div class="card">
            <div class="card-header">
              Seguro de Trabalho
            </div>
            <div class="card-body fatherWorkInsurance">
              <!-- INICIO WORKINSURANCE VARIABLE -->
              <div class="input-group son">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                    >Variável de Cálculo</span
                  >
                </div>
                <input
                  [(ngModel)]="workInsuranceVariable"
                  class="inputAlignRigth grandSon"
                  type="number"
                />
              <div class="input-group-append">
                  <span class="input-group-text transparentBg">μ</span>
              </div>
            </div>
              <!-- FIM WORKINSURANCE VARIABLE -->

              <!-- INICIO VAR ACCOUNTED FOR WORK INSURANCE -->
              <div class="input-group son mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text transparentBg"
                  >Segunda Variável de Cálculo</span
                  >
                </div>
                <input
                  [(ngModel)]="varAccountedForWorkInsurance"
                  class="inputAlignRigth grandSon"
                  type="number"
                />
              <div class="input-group-append">
                  <span class="input-group-text transparentBg">μ</span>
              </div>
            </div>
              <!-- FIM VAR ACCOUNTED FOR WORK INSURANCE -->

              <a
                style="cursor: pointer; color: white"
                class="btn btn-primary mt-3"
                (click)="newWorkInsuranceVariables()"
                >Guardar</a
              >
            </div>
          </div>
        </div>
        <!-- FIM DO WORK INSURANCE -->
      </div>
    </div>
  </div>

  <!-- FIM DA PAGINA -->
</div>
