<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          Gestão do Simulador
        </div>
        <div class="card-body">



      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Margem
            </div>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Subsídio de Alimentação
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                <a href="#" class="btn btn-primary">Guardar</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Extras
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Seguro de Trabalho
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row custom-row">
  <div class="col-sm-8 custom-container jumbotron">
    <form class="form-horizontal">
      <fieldset>
        <legend>Subsídio alimentação</legend>
        <div class="form-group mt-5">
          <label for="inputDays">Número médio de dias do mês</label>
          <input
            (ngModelChange)="onChangeSubAlim($event)"
            type="number"
            id="inputDays"
            class="ml-2"
            placeholder=""
            [(ngModel)]="subAlim.days"
            name="days"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputValue">Valor limite subsídio de alimentação</label>
          <input
            (ngModelChange)="onChangeSubAlim($event)"
            type="number"
            step="0.01"
            id="inputValue"
            [(ngModel)]="subAlim.valuePerDay"
            name="valuePerDay"
            class="ml-2"
            placeholder=""
            required
          />
        </div>
        <div class="form-group">
          <p>Valor médio mensal do subsídio de alimentação</p>
          <input
            id="valueTotal"
            [(ngModel)]="simFieldsData.value"
            step="0.01"
            name="value"
            disabled
          />
        </div>
        <div class="form-group">
          <button type="reset" class="btn btn-dark">Cancelar</button>
          <button
            type="button"
            class="btn btn-secondary ml-1"
            (click)="saveSubAlim()"
          >
            Guardar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<app-field-tax
  *ngIf="showForm"
  (onClose)="showForm = false"
  [name]="'Telemóvel'"
></app-field-tax>
<app-field-tax
  *ngIf="showForm"
  (onClose)="showForm = false"
  [name]="'Renting Viatura'"
></app-field-tax>

<app-field-tax
  *ngIf="showForm"
  (onClose)="showForm = false"
  [name]="newFieldName"
></app-field-tax>
