<div class="container">
    <div class="d-flex" id="wrapper">
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <h1 class="mt-4">Gestão de contas</h1>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-outline-danger ml-1 mb-3 float-right" (click)="showCreateAccount()">Criar nova conta</button>
    <app-tables *ngIf="receivedData" class="mt-3"[header]='["name","email","apagar"]'  [data]='data' (clickedRow)='clickRow($event)'></app-tables>
  </div>