<div class="row custom-row">
  <div class="col-sm-12 container">
    <fieldset>
      <div class="card mt-5">
        <div class="card-header cardHead">
          <h6>SIMULAÇÃO - CÁLCULO | COLABORADOR: {{simulation.name}}</h6>
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-sm border-right father1">
                <div class="input-group son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Salário Base</span>
                  </div>
                  <input type="number" min="0" class="form-control inputAlignRigth" value="{{simulation.baseSalary}}"
                    disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                  <div class="input-group-append" style="min-width: 100px;">
                    <span class="input-group-text transparentBg" style="width: 100%">IRS: {{simulation.IRSValue}}%</span>
                  </div>
                </div>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Subsídio de Alimentação</span>
                  </div>
                  <input type="number" class="form-control inputAlignRigth" min="0" id="foodSubsidy"
                    value="{{simulation.foodSubsidy}}" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Seguro de Trabalho</span>
                  </div>
                  <input value="{{simulation.workInsurance}}" type="number" min="0" class="form-control inputAlignRigth"
                    id="workInsurance" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Seguro de Saúde</span>
                  </div>
                  <input value="{{simulation.healthInsurance}}" class="form-control inputAlignRigth" type="number"
                    id="healthInsurance" disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>
                </div>
                <div class="input-group mt-3 son1">
                  <div class="input-group-prepend">
                    <span class="input-group-text transparentBg">Prémios</span>
                  </div>
                  <input value="{{simulation.otherBonus}}" class="form-control inputAlignRigth" type="number" id="otherBonus"
                    disabled>
                  <div class="input-group-append">
                    <span class="input-group-text transparentBg">€</span>
                  </div>

                </div>
                <!--   <ng-container *ngIf="showContainer">
                        <div *ngFor="let extra of t.controls" class="input-group mt-3 son1" [formGroup]="extra">
                          <div class="input-group-prepend">
                            <span class="input-group-text transparentBg">{{extra.value.name}}</span>
                          </div>
                          <input class="form-control inputAlignRigth" formControlName="value"
                            oninput="validity.valid||(value='');" (change)="calculateTotalAnualCost()" type="number">
                          <div class="input-group-append">
                            <span class="input-group-text transparentBg">€</span>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="showContainer">
                        <div class="input-group mt-3 son1" *ngFor="let extraWithout of g.controls" [formGroup]="extraWithout">
                          <div class="input-group-prepend">
                            <span class="input-group-text transparentBg">{{extraWithout.value.name}}</span>
                          </div>
                          <input class="form-control inputAlignRigth" formControlName="value"
                            oninput="validity.valid||(value='');" (change)="calculateTotalAnualCost()" type="number">
                          <div class="input-group-append">
                            <span class="input-group-text transparentBg">€</span>
                          </div>
                        </div>
                      </ng-container>
                      <div class="input-group mt-3" style="width: 100%" *ngIf="extrasArray.length > 0">
                        <select class="custom-select transparentBg" (change)="selectExtraFromSelect($event)"
                          id="extraSelector">
                          <option value="" [selected]="true">Outros</option>
                          <option value="{{extra.name}}" *ngFor="let extra of extrasArray">{{extra.name}}</option>
                        </select>
                      </div>
                    </div> -->
                <!--ACABA A COLUNA DA ESQUERDA-->
                <div class="col-sm border-left father1">
                  <div class="input-group son1">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">Custo Mensal</span>
                    </div>
                    <input type="number" min="0" class="form-control inputAlignRigth" type="number"
                      value={{simulation.monthlyTotalCost}} id="monthlyTotalCost" disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">€</span>
                    </div>
                  </div>
                  <div class="input-group son1">
                    <div class="input-group mt-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text transparentBg">Salário Líquido S/ Duodécimos</span>
                      </div>
                      <input class="form-control inputAlignRigth" value="{{simulation.netSalaryWithoutDuo}}" type="number"
                        min="0" id="netSalaryWithoutDuo" disabled>
                      <div class="input-group-append">
                        <span class="input-group-text transparentBg">€</span>
                      </div>
                    </div>
                    <div class="input-group mt-0">
                      <div class="input-group-prepend" style="padding-left: 20%;">
                        <span class="input-group-text transparentBg">C/ Duodécimos</span>
                      </div>
                      <input class="form-control inputAlignRigth" value="{{simulation.netSalaryWithDuo}}" type="number"
                        min="0" id="netSalaryWithDuo" disabled>
                      <div class="input-group-append">
                        <span class="input-group-text transparentBg">€</span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mt-4 son1">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">Margem</span>
                    </div>
                    <input type="number" min="0" class="form-control inputAlignRigth" id="marginPercentage"
                      value="{{simulation.marginPercentage}}" disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">%</span>
                    </div>
                  </div>

                  <div class="input-group mt-3 son1">
                    <div class="input-group-prepend">
                      <span class="input-group-text transparentBg">Utilização</span>
                    </div>
                    <input type="number" min="0" class="form-control inputAlignRigth" id="usagePercentage"
                      value="{{simulation.usagePercentage}}" disabled>
                    <div class="input-group-append">
                      <span class="input-group-text transparentBg">%</span>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-sm">
                      <div class="card">
                        <ul class="list-group father list-group-flush">
                          <li class="list-group-item text-center">Custo Total</li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Anual</span>
                              </div>
                              <input type="number" value={{simulation.anualTotalCost}} id="anualTotalCost"
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Mensal</span>
                              </div>
                              <input type="number" value={{simulation.monthlyTotalCost}}
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Diário</span>
                              </div>
                              <input type="number" value={{simulation.dailyTotalCost}}
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Hora</span>
                              </div>
                              <input type="number" value={{simulation.hourlyTotalCost}}
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="card">
                        <ul class="list-group list-group-flush father">
                          <li class="list-group-item text-center">Valor a Cobrar (Rate)</li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Anual</span>
                              </div>
                              <input type="number" value="{{simulation.anualRate}}"
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Mensal</span>
                              </div>
                              <input type="number" value="{{simulation.monthlyRate}}"
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Diário</span>
                              </div>
                              <input type="number" value="{{simulation.dailyRate}}"
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item son p-0">
                            <div class="input-group border-0">
                              <div class="input-group-prepend border-0">
                                <span class="input-group-text transparentBg border-0">Hora</span>
                              </div>
                              <input type="number" value="{{simulation.hourlyRate}}"
                                class="form-control inputAlignRigth border-top-0 border-bottom-0" disabled>
                              <div class="input-group-append border-0">
                                <span class="input-group-text transparentBg border-0">€</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--ACABA A COLUNA DA DIREITA-->