<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th *ngFor="let col of header">
            {{col}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data">
            <td *ngFor="let col of keys" (click)="clickRow(row)">
            {{row[col]}}
            </td>
            <td><button class="btn btn-outline-danger" (click)="delete(row)">Apagar</button></td>
        </tr>
        </tbody>
    </table>
</div>