/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import "../node_modules/@swimlane/ngx-datatable/release/assets/icons.css";

.btn-mycolor {
    border-color: #f84f00;
    color: #f84f00;
    
    
}
.btn-mycolor:hover {
    color: white;
    background-color: #f84f00;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
