input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cardHead{
  background-color:  #EA5F35;
  color: white;

}

.borderedRed{
  border-color: red;
}

.transparentBg{
  background-color: transparent;
}

.inputAlignRigth{
  text-align: right;
}

.father{
  .son{
    width: 100%;
    .input-group-prepend{
      width: 35%;
    }
  }
}

.father1{
  .son1{
    width: 100%;
    .input-group-prepend{
      width: 50%;
      span {
        width: 100%;
      }
    }
/*       .input-group-append{
        width: 15%
        span{
          padding: 36%;
          padding-top: 0;
          padding-bottom: 0;
        }
     
    } */
  }
}



.custom-range::-webkit-slider-thumb {
  background: #EA5F36;
}
