
<div class="modal-header">
    <h4 class="modal-title pull-left">Criar nova conta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p *ngIf="state == 'confirm'">Conta criada com sucesso! Credenciais enviadas para o email {{newAccount.email}}</p>
    <p *ngIf="state == 'error'">Esta conta já existe.</p>
    <form *ngIf="state == 'create'" class="form-horizontal" [formGroup]="newUserForm">
        <div class="form-group mt-5">
            <label for="inputName">Nome</label>
            <input class="ml-2" type="text" id="inputName" formControlName="name" placeholder="Nome">
            <div *ngIf="newUserForm.controls['name'].invalid && submitClicked" class="text-danger">
            <small *ngIf="newUserForm.controls['name'].errors.required">Insira o nome.</small>
            </div>
        </div>
        <div class="form-group mt-2">
            <label for="inputEmail">Email</label>
            <input class="ml-2" type="email" id="inputEmail" formControlName="email" placeholder="Email">
            <div *ngIf="newUserForm.controls['email'].invalid && submitClicked" class="text-danger">
            <small *ngIf="newUserForm.controls['email'].errors.required">Insira o email.</small>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <button type="button" class="btn btn-dark" (click)="resetForm()">Cancelar</button>
                <button type="button" class="btn btn-secondary ml-1" (click)="createAccount()">Criar</button>
            </div>
        </div>
    </form>
</div>
       